<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">

    <title>Digital Census - Home</title>
</head>
<body>
<div class="top_portion">
    <div class="Logo"><a href="#">Digital Census</a></div>
    <ul>
        <li class="Navbar"><a href="#">Home</a></li>
        <li class="Navbar"><a href="#">About Us</a></li>
        <li class="Navbar"><a href="#">Contact Us</a></li>
    </ul>
</div>
<div class="Main_body">
    <div class="Main_body_left">
       <div class="Left_head">Welcome User</div>
       <div class="Left_body">

            <a href="./insert.html"><button class="btn">Insert Information</button></a>
            <a href="./update.html"><button class="btn">Update Information</button></a>
            <a href="./dashboard.html"><button class="btn"> Dashboard</button></a>
    
       </div>

       

    <div class="Main_body_right">
       <div class="Right_head">Digital Census!</div>
       <div class="Right_body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellat voluptatum molestiae vitae consequuntur harum consectetur praesentium eos perferendis. Laudantium in nulla quisquam doloremque laboriosam officia repellendus cupiditate ad tempore, consequuntur, quia non enim quis ipsa possimus expedita, incidunt minus qui consequatur aspernatur! Repudiandae exercitationem culpa explicabo iusto ipsum corrupti.
       </div>

    </div>

</div>
</body>
</html>