<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Digital Census - Verify</title>
</head>

<body>
    <div class="main_card">
        <div class="Center_Body">
            <div id="Top_Bar">
                Digital Census
            </div>
            <div id="Main_1st">OTP verification</div>
            
            <form action="/otpsend" method="POST">
                <div class="Sign_details">
                    <div class="Login_forms">
                        <img src="img/Email_logo1.jpg" alt="Email_img" id="Email_logo">
                        <input type="email"  value="" placeholder="Enter Your Email" name="email">
                    </div>
                    <button class="button" type="submit">Send OTP</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>