body{
    background-image: url('../img/Homebg3.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}
.top_portion:before{
    content: '';
    position: absolute;
    background: rgb(119 119 126);
    height: 2px;
    width: 95%;
    bottom: -8px;
    margin-left: 22px;
}
.top_portion{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.Logo{
    display: flex;
    margin: 22px 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(97 95 238);
}
.Navbar:before{
    content: '';
    position: absolute;
    background: rgb(97 95 238);
    height: 3px;
    width: 21px;
    bottom: 8px;
}
.Navbar{
    position: relative;
    margin-right: 200px;
    padding-top: 14px;
    font-family: 'Open Sans', sans-serif;
}
.Main_body{
    display: flex;
    justify-content: space-around;
}
.Main_body_left{
    background-image: url('../img/Left_bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 369px;
    border: 2px solid rgb(86 86 104);
    box-shadow: 10px 10px 8px #645b5b;
    border-radius: 10px;
    margin-top: 100px;
    padding-top: 50px;
}
.Left_body{
    margin-left: 40px;
    margin-top: 60px;
}
.Left_head{
    padding-left: 40px;
    margin: 22px 38px;
    font-family: 'Merienda', cursive;
    font-size: 30px;
}
.btn{
    font-size: 15px;
    margin: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #b7a4a4;
    border-radius: 10px;
    width: 75%;
    padding: 10px 10px;
}
button:hover{
    background-color:rgb(97 95 238);
}
.Main_body_right{
    width: 50%;
    margin-top: 100px;
    padding-top: 50px;
}
.Right_head{
    display: flex;
    justify-content: center;
    margin: 22px 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
.Right_body{
    margin-top: 30px;
    padding-top: 30px;
}