body{
    background: rgb(97 95 238);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
}
.main_card{
    background: white;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 6px;
}
.Center_Body{
    
    box-shadow: 3px 3px 4px 2px;
    padding: 15px 19px;
}
#Main_Head{
    margin: 22px 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
a{
    color: rgb(97 95 238);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(20, 70, 144);
    cursor: pointer;
}
#Top_Bar{
    color: rgb(20, 70, 144);
    justify-content: center;
    margin: 50px 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}
#Top_Bar:hover{
    cursor:pointer;
}
#Email_logo{
    height: 15px;
    margin-right: 6px;
}
#Pass_logo{
    margin-right: 10px;
    margin-left: 2px;
    height: 17px;
    width: 16px;
}
.Login_forms{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
#Main_1st:before{
    content: '';
    position: absolute;
    left: 101px;
    bottom: -3px;
    height: 3px;
    width: 21px;
    background: rgb(97 95 238);
}
#Main_1st{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-family: 'PT Serif', serif;
    margin-bottom: 35px;
}
input{
    margin-bottom: 5px;
    font-family: 'PT Serif', serif;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease;
}
input:focus{
    border-color: rgb(97 95 238);
}
button{
    font-family: 'PT Serif', serif;
    height: 30px;
    width: 100%;
    border: none;
    background:rgb(97 95 238);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-bottom: 5px;
    color: white;
}
button:hover{
    background: rgb(20, 70, 144);
}
#forget_text{
    font-family: 'PT Serif', serif;
    margin-left: 5px;
    margin-top: -18px;
    margin-bottom: 30px;
    font-size: 14px;
}
#D_text{
    font-family: 'PT Serif', serif;
    font-size: 14px;
    margin-left: 5px;
}